<header class="container-fluid pt-3 pb-3 nav-color">
  <nav class="navbar-expand-lg d-flex justify-content-between align-items-center">
    <img class="logo ml-4" src="../../../assets/logo.png" alt="Logo">
    <section class="mr-4">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav d-flex align-items-center">
          <li class="nav-item active mr-1">
            <a class="nav-link current" href="#">Dashboard<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item mr-1">
            <a class="nav-link link-menu" href="#">Configurações</a>
          </li>
          <li class="nav-item mr-1">
            <a class="nav-link link-menu" href="#">Venda +</a>
          </li>
          <li class="nav-item mr-1 dropdown">
            <a class="nav-link link-menu dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Cadastros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item disabled" href="#" tabindex="-1" aria-disabled="true">Cadastro</a>
              <a class="dropdown-item" href="#">Categoria</a>
              <a class="dropdown-item" href="#">Produtos</a>
              <a class="dropdown-item" href="#">Forma pagamento</a>
            </div>
          </li>
        </ul>
      </div>
    </section>
  </nav>